.area-image {
	height: 18vh;
	margin-bottom: 3vh;
	margin-top: 1vh;
}

body {
	background-image: linear-gradient(
		to right,
		#ff9933,
		#ff9933,
		#138808,
		#138808
	);
}

.body-context {
	line-height: 3.5vh;
}

.body-image {
	margin-top: 1.5vh;
	margin-bottom: 4vh;
	height: 43vh;
}

.home-content {
	margin-left: 50%;
	transform: translate(-50%);
	background-color: white;
	width: 70%;
	min-height: 70vh;
	height: auto;
	display: flex;
}

.home-text {
	margin-left: 0;
	width: 75%;
	padding: 3%;
	font-size: 2.5vh;
}

h1 {
	font-size: 4vh;
	margin-bottom: 3vh;
}

.top-5s {
	width: 25%;
	padding: 2%;
}

.t5-title {
	font-size: 3vh;
	text-align: center;
	margin-bottom: 2vh;
}

/* 
#ff9933 orange
#FFFFFF white
#138808 green
*/
