@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

.area-image {
	height: 18vh;
	margin-bottom: 3vh;
	margin-top: 1vh;
}
/*
#ff9933 - orange
#138808 - green
*/

body {
	background-color: #ffa143;
	font-family: "Lora", serif;
}

.body-context {
	font-size: 1.3em;
	line-height: 1.7;
	width: 90%;
	margin-bottom: 10vh;
}

.body-image {
	margin-top: 1.5vh;
	margin-bottom: 4vh;
	height: 48vh;
}

/*
.cultural-imgs-home img {
	height: 35vh;
	margin-right: 1%;
} 
c76300
*/

.home-content {
	background-color: rgb(250, 250, 250);
	box-shadow: 0px 0px 40px -5px #c76300;
	display: flex;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding-top: 14vh;
	min-height: 70vh;
	width: 80%;
}

.home-text {
	margin-left: 0;
	padding: 4%;
	width: 75%;
}

h1 {
	font-size: 4vh;
	margin-top: 3vh;
	margin-bottom: 3vh;
}

.homepage-img-row {
	display: flex;
}

.top-5s {
	margin-top: 5vh;
	padding: 2%;
	width: 25%;
}

.t5-title {
	font-size: 3vh;
	text-align: center;
	margin-bottom: 2.5vh;
}

/* 
Flag colors
#ff9933 orange
#FFFFFF white
#138808 green
*/
