@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

.area-image {
	height: 18vh;
	margin-bottom: 3vh;
	margin-top: 1vh;
}

body {
	font-family: "Lora", serif;
	background-image: linear-gradient(
		to right,
		#ff9933,
		#ff9933,
		#138808,
		#138808
	);
}

.body-context {
	line-height: 3.5vh;
}

.body-image {
	margin-top: 1.5vh;
	margin-bottom: 4vh;
	height: 43vh;
}

/*
.cultural-imgs-home img {
	height: 35vh;
	margin-right: 1%;
} 
*/

.home-content {
	background-color: white;
	display: flex;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	min-height: 70vh;
	width: 80%;
}

.home-text {
	font-size: 2.5vh;
	margin-left: 0;
	padding: 4%;
	width: 75%;
}

h1 {
	font-size: 4vh;
	margin-top: 3vh;
	margin-bottom: 3vh;
}

.homepage-img-row {
	display: flex;
}

.top-5s {
	margin-top: 5vh;
	padding: 2%;
	width: 25%;
}

.t5-title {
	font-size: 3vh;
	text-align: center;
	margin-bottom: 2.5vh;
}

/* 
Flag colors
#ff9933 orange
#FFFFFF white
#138808 green
*/
