.final-place {
	padding-bottom: 5vh;
}

.historical-content {
	background-color: white;
	box-shadow: 0px 0px 40px -5px #c76300;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	min-height: 70vh;
	width: 80%;
}

.historical-title {
	font-size: 6vh;
	padding-top: 10vh;
	padding-bottom: 2vh;
	text-align: center;
}

.historical-image {
	height: 30vh;
	margin-right: 3vw;
}

.historical-images {
	margin-bottom: 3vh;
}

.places {
	margin-left: 7vw;
	margin-right: 7vw;
}

.place-context {
	font-size: 3vh;
}
