.final-place {
	padding-bottom: 5vh;
}

.historical-content {
	margin-left: 50%;
	transform: translate(-50%);
	background-color: white;
	width: 80%;
	min-height: 70vh;
	height: auto;
}

.historical-title {
	padding-top: 10vh;
	padding-bottom: 2vh;
	font-size: 6vh;
	text-align: center;
}

.historical-image {
	height: 30vh;
	margin-right: 3vw;
}

.historical-images {
	margin-bottom: 3vh;
}

.places {
	margin-left: 7vw;
	margin-right: 7vw;
}

.place-context {
	font-size: 3vh;
}
