.footer-container {
	margin-left: 50%;
	transform: translate(-50%);
	background-color: rgb(164, 255, 184);
	width: 80%;
	min-height: 10vh;
	height: auto;
	display: flex;
	font-size: 1.7vh;
}

.footer-title {
	font-weight: bold;
}

.bot-sect {
	width: 30%;
	height: auto;
	padding: 2%;
	line-height: 1.2;
}
